# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Configurations and sensitive files
backend/config/*.json
!backend/config/*.example.json
config/*.json
!config/*.example.json
backend/config/cookies/
config/cookies/
shit.json
backend/1